/* main */

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

nav {
  background-color: black;
  color: #fff;
  padding: 7px 20px;
  z-index: 5;
  position: fixed;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  width: 1392px;
}

.logo {
  height: 40px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
}

.nav-content a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 16px;

}

.nav-content a:hover {
  font-weight: bold;
}

/* menu */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  height: 15px;
  width: 27px;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin-top: 7px;
  background-image: url("../public/assets/hamburger.svg");
}
 
input[type=checkbox]:checked + label {
  height: 22px;
  width: 23px;
  display:inline-block;
  padding: 0px 0px 0px 0px;
  background-image: url("../public/assets/close.svg");
}

/* content */
.content {
  width: 100%;
  display: flex;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed
}

/* map */
.map {
  display: flex;
  flex: 1;
  flex-direction: row;
  background:#ddd;
  z-index: 1;
  justify-content: center;
}

#info {
  position: fixed;
  margin: 10px auto;
  padding: 7px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  background: linear-gradient(to bottom, beige, white);
  z-index: 5;
  box-shadow: 0 0 3px #000c;
}

#update {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 30px;
  padding: 0px 20px 0px 20px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  background: black;
  z-index: 10;
  box-shadow: 0 0 2px #000c;
  transition: all 0.1s;
  opacity: 1;
  width: 300px;
  height: 42px;
}

#update.hide {
  opacity: 0;
  height: 28px;
  width: 200px;
  font-size: 10px;
}

#location-msg, #location-close {
  line-height: 42px;
}
#location-msg {
  color: #fff;
}
#location-close {
  color: #CD202D;
  font-weight: bold;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 10%;
}

img {
  width: 200px;
  margin: 0 auto;
}

/* options */
.options {
  display:flex;
  flex:1;
  flex-direction: column;
  bottom: 0;
  right: 0;
  width: 300px;
  max-width: 300px;
  overflow-y: scroll;
  color: black;
  box-shadow:0 0 5px #000c;
  z-index:2;
  background: linear-gradient(to bottom, beige, white);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex; /* Add flex display */
  align-items: center; /* Vertically center content */
}

/* features */
.features {
  display:flex;
  flex:1;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 300px;
  max-width: 300px;
  overflow-y: scroll;
  box-shadow:0 0 5px #000c;
  z-index:2;
  background: linear-gradient(to bottom, beige, white);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex; /* Add flex display */
  align-items: center; /* Vertically center content */
}

/* map mode */
.select-type{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.mode-input{
  display: none;
}

.mode {
  position: relative;
  color: #CD202D;
  border: 2px solid #CD202D;
  border-radius: 5px;
  padding: 10px 10px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mode:before{
  content: "";
  height: 20px;
  width: 20px;
  border: 3px solid #CD202D;
  border-radius: 50%;
  margin-right: 20px;
}

.mode-input:checked + .mode{
  background-color: #CD202D;
  color: white;
}

.mode-input:checked + .mode:before{
  height: 20px;
  width: 20px;
  border: 5px solid white;
  background-color: #CD202D;
}

/* list-location */
.list-location {
  border: 3px solid #CD202D;
  border-radius: 5px;
  padding: 10px 0px 0px 0px;;
  margin-top: 10px;
  width: 100%
}

#table-title {
  margin: 0;
}

#feature-list {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
}

th,
td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr.hl {
  background-color: yellow; /* change this color */
}

/* add-location */
.add-location-form{
  border: 3px solid #CD202D;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  width: 100%;
}

.location{
  max-width: 113px;
}