/* main */

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

nav {
  background-color: black;
  color: #fff;
  padding: 7px 20px;
  z-index:5;
  position:fixed;
  width:100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

/* content */
.content {
  width: 100%;
  display:flex;
  top:70px;
  left:0;
  right:0;
  bottom:0;
  position:fixed
}

/* map */
.map {
  display: flex;
  flex:1;
  flex-direction: row;
  height:100vh;
  width:100vw;
  background:#ddd;
  z-index:1;
  display: flex;
  justify-content: center;

}

#info {
  display: table;
  position: fixed;
  margin: 10px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
  z-index: 5;
  box-shadow:0 0 2px #000c;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* options */
.options {
  display:flex;
  flex:1;
  flex-direction: column;
  bottom: 0;
  right: 0;
  width: 320px;
  max-width: 320px;
  height: 100vh;
  overflow-y: scroll;
  color: black;
  box-shadow:0 0 5px #000c;
  z-index:2;
  background: linear-gradient(to bottom, beige, white);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex; /* Add flex display */
  align-items: center; /* Vertically center content */
}

/* contribute */
.contribute {
  display:flex;
  flex:1;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 320px;
  max-width: 320px;
  height: 100vh;
  overflow-y: scroll;
  box-shadow:0 0 5px #000c;
  z-index:5;
  background: linear-gradient(to bottom, beige, white);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex; /* Add flex display */
  align-items: center; /* Vertically center content */
}

/* map mode */
.select-type{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
input[type="radio"]{
  display: none;
}

.mode {
  position: relative;
  color: #CD202D;
  border: 2px solid #CD202D;
  border-radius: 5px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
}

.mode:before{
  content: "";
  height: 20px;
  width: 20px;
  border: 3px solid #CD202D;
  border-radius: 50%;
  margin-right: 20px;
}

input[type="radio"]:checked + .mode{
  background-color: #CD202D;
  color: white;
}

input[type="radio"]:checked + .mode:before{
  height: 20px;
  width: 20px;
  border: 5px solid white;
  background-color: #CD202D;
}

/* add-location */


/* menu */
input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label {
  height: 15px;
  width: 26px;
  display:inline-block;
  padding: 0 0 0 0px;
  background-image: url("../public/assets/hamburger.svg")
}
 
input[type=checkbox]:checked + label {
  height: 15px;
  width: 26px;
  display:inline-block;
  padding: 0 0 0 0px;
  background-image: url("../public/assets/close.svg")
}
