/* main */

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

nav {
  background: black;
  color: #fff;
  padding: 7px 20px;
  z-index: 5;
  position: fixed;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  max-width: 94vw;
  width: 1392px;
}

.logo {
  display: block;
  height: 40px;
}
.logo-small {
  display: none; 
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px; /* potentially remove */
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 0px 30px 0px 0px;
}

.nav-link:hover {
  font-weight: bold;
}

/* nav menu */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  height: 15px;
  width: 27px;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin-top: 7px;
  background-image: url("../public/assets/hamburger.svg");
}
 
input[type=checkbox]:checked + label {
  height: 22px;
  width: 23px;
  display:inline-block;
  padding: 0px 0px 0px 0px;
  background-image: url("../public/assets/close.svg");
}

/* content */
.content {
  width: 100%;
  display: flex;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed
}

/* map */
.map {
  display: flex;
  flex: 1;
  flex-direction: row;
  background:#ddd;
  z-index: 1;
  justify-content: center;
}

#info {
  position: fixed;
  margin: 10px auto;
  padding: 7px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  background: linear-gradient(to bottom, beige, white);
  z-index: 5;
  box-shadow: 0 0 3px #000c;
}

#update {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 30px;
  padding: 0px 20px 0px 20px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  background: black;
  z-index: 10;
  box-shadow: 0 0 2px #000c;
  transition: all 0.1s;
  opacity: 1;
  width: 300px;
  height: 42px;
}

#update.hide {
  opacity: 0;
  height: 28px;
  width: 200px;
  font-size: 10px;
}

#location-msg, #location-close {
  line-height: 42px;
}
#location-msg {
  color: #fff;
}
#location-close {
  color: #CD202D;
  font-weight: bold;
  cursor: pointer;
}

/* map style menu */
#menu {
  display: flex;
  flex-direction: column;
  position: absolute; /* edge of map container div */
  top: 10px;
  right: 310px;
  padding: 0px 20px 0px 20px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  background: linear-gradient(to bottom, beige, white);;
  z-index: 10;
  box-shadow: 0 0 2px #000c;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 10%;
}

img {
  max-width: 200px;
  max-height: 150px;
  margin: 0 auto;
}

/* features */
.features {
  display:flex;
  flex:1;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 300px;
  max-width: 300px;
  overflow-y: scroll;
  box-shadow:0 0 5px #000c;
  z-index:2;
  background: linear-gradient(to bottom, beige, white);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  align-items: center; /* Vertically center content */
}

.heroContent {
  
}

/* map mode, sharing mode */
.select-type/*, .sharing-buttons*/ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mode-input/*, .sharing-input*/ {
  display: none;
}

.mode/*, .sharing*/ {
  position: relative;
  color: #CD202D;
  border: 2px solid #CD202D;
  border-radius: 5px;
  padding: 10px 10px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mode:before/*, .sharing:before*/ {
  content: "";
  height: 20px;
  width: 20px;
  border: 3px solid #CD202D;
  border-radius: 50%;
  margin-right: 20px;
}

.mode-input:checked + .mode/*, .sharing-input:checked + .sharing*/ {
  background-color: #CD202D;
  color: white;
}

.mode-input:checked + .mode:before/*, .sharing-input:checked + .sharing*/ {
  height: 20px;
  width: 20px;
  border: 5px solid white;
  background-color: #CD202D;
}

/* list-location */
.list-location {
  border: 3px solid #CD202D;
  border-radius: 5px;
  padding: 10px 0px 0px 0px;;
  margin-top: 10px;
  width: 100%
}

#table-title {
  margin: 0;
}

#feature-list {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
}

th,
td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr.hl {
  background-color: yellow; /* change this color */
}

/* add-location */
.add-location-form{
  border: 3px solid #CD202D;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  width: 100%;
}

.location{
  max-width: 113px;
}

/* options */
.options {
  display:flex;
  flex:1;
  flex-direction: column;
  bottom: 0;
  right: 0;
  width: 300px;
  max-width: 300px;
  overflow-y: scroll;
  color: black;
  box-shadow:0 0 5px #000c;
  z-index:2;
  background: linear-gradient(to bottom, beige, white);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  align-items: center; /* Vertically center content */
}

/* about page */
#about {
  background: linear-gradient(to bottom, beige, white);
}

@media only screen and (max-width: 1100px) {
  #menu {
    right: 10px;
  }
  
  .options {
    display: none;
  }
}

@media only screen and (max-width: 900px) {

  .content {
    flex: none;
    background: none;
    background-color: none;
  }

  .features {
    position: fixed;
    max-height: 275px;
    max-width: 290px;
    margin: 25px 25px;
  }

  .heroContent {
    display:none;
  }

  .map {
    
  }

  #menu {
    
  }

  .options {
    
  }
}

@media only screen and (max-width: 700px) {
  nav {
    padding: 6px;
  }
  .logo {
    display: none; 
  }
  .logo-small {
    display: block;
    height: 42px;
  }
}